name: Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Display Go version
        run: go version
      - name: Code Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -coverprofile=coverage.out -covermode=atomic -v -race ./...
      - name: Prepare coverage reports
        run: |
          cat coverage.out | grep -v "_mock.go" > coverage.final.out
          mv coverage.final.out coverage.out
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
